.editCity_container {
    overflow-x: hidden;
}

.addPoi_InputsContainer, .editCity_InputsContainer, .poi_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 12px;
    gap: 20px;
}

.editCity_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editCity_form label {
    font-family: Rubik, serif;
    color: white;
}

.editCity_form_inputContainer {
    display: flex;
    flex-direction: column;
}

.cityInfo_link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.rocket {
    width: 100px;
    position: absolute;

    top: 80px;
    right: 60px;

    transition-property: all;
    transition: ease-in 2s;
}

.rocket.rocket--animated {
    position: absolute;
    top: -500px;
    right: -1000px;
}

.title.editCity_title {
    margin-bottom: 0;
}

.editCity_container {
    margin-bottom: 3rem;
}