.emailPasswordContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

input {
    text-align: center;
    border-radius: 20px;
    width: 20rem;
    height: 2.5rem;
    border: 3px solid #173472;
    box-sizing: content-box;
}

.primaryButton {
    height: 2.5rem;
    width: 15rem;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 3px solid #173472;
}

.tertiaryButton {
    height: 2.5rem;
    width: 15rem;
    border-radius: 15px;
    border: 3px solid #173472;
    background-color: #EC5D5C;
    color: white;
}

.buttonsContainer {
    display: flex;
    gap:20px;
}

form p {
    color: #EC5D5C;
}