input {
    height: 2.5rem;
    width: 20rem;
    font-weight: 700;
    font-size: 1rem;
    color: #000000;
    border-radius: 10px;
    padding-left: 20px;
}

form {
    display: flex;
    justify-content: end;
}

.homeStyle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    align-items: center;
    gap: 2rem;
}

.addCityButtonStyles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin: 2rem;
    color: #EC5D5C;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 1.25rem;
}

.intro {
    position: fixed;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /*background: #122757;*/
    transition: transform 0.6s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .intro {
    transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
}

.container--open .intro__content {
    background-color: #173472;
    transition: background-color 1s;
}

.intro__image {
    position: absolute;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    opacity: 0.8;
    transition: transform 0.6s, opacity 0.6s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    object-fit: cover;
    background: rgb(2, 0, 36);
    background: linear-gradient(152deg, rgba(2, 0, 36, 1) 0%, rgba(23, 52, 114, 1) 59%, rgba(236, 93, 92, 1) 100%);
}

.search-input {
    transition: transform 2s, opacity 0.6s;
}

#container .search-input {
    opacity: 0;
}

#container.container--open .search-input {
    opacity: 1;
}

#container.container--open .intro__description p {
    opacity: 0;
}

.container--open .intro__image {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
}

.intro__content {
    position: absolute;
    bottom: 35px;
    padding: 1.8em;
    width: 100%;
    font-size: 1.15em;
}

.intro__title, .intro__main__title {
    margin: 0 0 20px;
    font-weight: 900;
    font-size: 4em;
    font-family: "Playfair Display", Georgia, serif;
    line-height: 1;
    color: #EC5D5C;
}

.intro__main__title {
    color: white;
}

.intro__subtitle {
    display: flex;
    align-items: center;
}

.intro__description {
    margin: 0 auto 0 1em;
    line-height: 1.2;
    color: white;
}

.demos {
    display: flex;
    gap: 20px;
}

.demos a {
    color: #EC5D5C;
}
.demos button {
    color: #EC5D5C;
}

.trigger {
    position: relative;
    overflow: hidden;
    margin: 0 0 0 20px;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: none;
    flex: none;
}

.hero-section-trigger {
    width: fit-content;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 600ms;
    rotate: 180deg;
}

.hero-section-trigger svg path {
    stroke: #000;
    stroke-dasharray: 500;
    stroke-dashoffset: -500;
}

.hero-section-trigger svg {
    width: 40px;
    fill: #EC5D5C;
}

.hero-section-trigger svg:hover {
    cursor: pointer;
}

.container--open .hero-section-trigger {
    opacity: 0;
    pointer-events: none;
}

.trigger span {
    position: absolute;
    top: 100%;
}

.icon rect,
.icon line {
    stroke: #dbdbdb;
    fill: none;
    stroke-width: 2px;
}

.icon {
    transition: opacity 0.3s, transform 0.3s;
    transform-origin: 50% 50%;
}

.icon--cross,
.trigger--active .icon--grid {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
}

.trigger--active .icon--cross {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.items-wrap {
    position: relative;
    padding: 280px 25px 25px;
    gap: 35px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.items-wrap::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000vh;
    background: #2a2e39;
    content: '';
    opacity: 1;
    transition: opacity 0.6s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    pointer-events: none;
}

.container--open .items-wrap::after {
    opacity: 0;
    height: 100%;
}

.item {
    position: relative;
    overflow: hidden;
    height: 22vw;
    flex: 1 0 25%;
    outline: none;
    border: 5px solid #2a2e39;
    border-width: 0 5px 10px;
    background: #2a2e39;
}

.cardLink {
    display: flex;
    justify-content: center
}

.codrops-links {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.intro__image img {
    position: absolute;
    top: 20px;
    width: 500px;
}

/*Arrow Bottom*/
div.arrow {
    width: 4vmin;
    height: 4vmin;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: rotate(-45deg);
}

div.arrow::before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: .5vmin .5vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
}


div.arrow:after {
    content: '';
    float: left;
    position: relative;
    top: -91%;
    width: 100%;
    height: 100%;
    border-width: 0 .5vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transform-origin: 100% 0;
    transition: .2s ease;
}

button:hover div.arrow::after {
    transform: rotate(45deg);
    border-color: #EC5D5C;
    height: 120%;
}

button:hover div.arrow::before {
    border-color: #EC5D5C;
    transform: scale(.8);

}


@media screen and (max-width: 1440px) {
    .items-wrap {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .items-wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .item,
    .intro__content {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 590px) {
    .items-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}