.infoCity_container {
    margin-top: 8rem;
}

.backButton {
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #173472;
  border-radius: 20px;
  z-index: 999;
  position: absolute;
  top: 9.2rem;
  left: 2rem;
}

.backButton svg {
    width: 30px;
    fill: #EC5D5C;
}

.leaflet-popup-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.leaflet-popup-content .tooltip-category{
    background-color: #173472;
    color: white;
    width: fit-content;
    padding: 0 4px;
}

.leaflet-popup-content .description {
    padding: 4px;
    border: 1px solid #173472;
    border-radius: 5px;
    width: 100%;
    margin: 0;
}

.rating-stars svg {
    fill: white;
}

.tooltip-poi_title {
    font-weight: 800;
}

.leaflet-popup-content p.tooltip-poi_address {
    margin: 0;
}
