.addManageStyles {
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #173472;
    width: fit-content;
}

.title {
    color: #EC5D5C;
    font-family: Rubik;
    font-weight: 600;
    font-size: 1.5rem;
}

.addCityContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.manageOneCityContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.manageCitiesContainer {
    position: relative;
    width: 100%;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cities_card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 36px;
    grid-row-gap: 12px;
}

.manageCities_buttonContainer {
    display: flex;
    justify-content: center;
}

.cityLabel {
    background-color: #EC5D5C;
    color: #FFEBE9;
    height: 3rem;
    margin: 1.5rem;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

input {
    text-align: center;
    border-radius: 20px;
    width: 20rem;
    height: 2.5rem;
    border: 3px solid #173472;
    box-sizing: content-box;
}

.primaryButton {
    height: 2.5rem;
    width: 6rem;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 3px solid #173472;
}

.tertiaryButton {
    height: 2.5rem;
    width: 15rem;
    border-radius: 15px;
    border: 3px solid #173472;
    background-color: #EC5D5C;
    color: white;
}

.edit_animation {
    width: 200px;
    position: absolute;
    top: -10px;
    left: 15px;
    opacity: 1;
    transition: opacity 0.5s;
}

.edit_animation.edit_animation--removed {
    opacity: 0;
}