.addManageStyles {
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #173472;
  width: fit-content;
  z-index: 1;
}
.manageOneUserContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editUser_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.editUser_label {
  grid-column-start: 1;
  font-family: Rubik, serif;
  color: white;
  margin-right: 3rem;
}

.editUser_labelCurrent {
  grid-column-start: 1;
  font-family: Rubik, serif;
  color: #ec5d5c;
  margin-right: 3rem;
}

.editUser_select {
  grid-column-start: 2;
}

.title {
  color: #ec5d5c;
  font-family: Rubik;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.editUser_title {
  color: #ec5d5c;
  font-family: Rubik;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 1rem;
  text-align: center;
}

.addCityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.manageOneCityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
}

.cities_card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 36px;
  grid-row-gap: 12px;
}

.manageCities_buttonContainer {
  display: flex;
  justify-content: center;
}

.userLabel {
  background-color: #ec5d5c;
  color: #ffebe9;
  width: 30rem;
  height: 3rem;
  margin: 1.5rem;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.primaryButton {
  grid-column-start: 2;
  height: 2.5rem;
  width: 6rem;
  background-color: #ffffff;
  border-radius: 15px;
  border: 3px solid #173472;
}

.primaryButtonDisabled {
  grid-column-start: 2;
  height: 2.5rem;
  width: 6rem;
  background-color: grey;
  border-radius: 15px;
  border: 3px solid #173472;
}

.backButton {
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #173472;
  border-radius: 20px;
  z-index: 999;
  position: absolute;
  top: 10rem;
  left: 2rem;
}

.backButton svg {
  width: 30px;
  fill: #ec5d5c;
}
