.badgeEditStyle {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 18px;
    border-radius: 48px;
    background-color: #EC5D5C;
    color: white;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.badgeEditStyle .poiButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0;
}

.badgeEditStyle .poiButton svg {
    fill: white;
    width: 24px;
    height: 24px;
}

.badgeEditStyle .category {
    color: #173472;
    font-weight: 800;
}

.icons_wrapper {
    display: flex;
    gap: 6px;
}