.badgeStyle {
    display: flex;
    width: fit-content;
    padding: 8px;
    border-radius: 48px;
    background-color: #EC5D5C;
    color: white;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.badgeStyle .deletePoiButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #173472;
    border-radius: 50%;
    padding: 0;
}

.badgeStyle .deletePoiButton svg {
    fill: #173472;
    width: 12px;
    height: 12px;
}