.cardStyle {
    height: fit-content;
    width: fit-content;
    border-radius: 2rem;
    border: 1px solid white;
    padding: 2rem;
}

.cardStyle:hover {
    box-shadow: 0 0 10px #ccc;
}

.registerCard {
    margin: 2rem auto 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #173472;
}

.emailPasswordCard {
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #173472;
}

.mapCard {
    width: 100%;
    height: 86vh;
    padding: 0;
}