.cardStyle {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    width: fit-content;

    margin: 9rem auto 0 auto;
    padding: 2rem;
}

.cardStyle.manageCities-card:hover {
    box-shadow: 0 0 10px #ccc;
}

.cardStyle.manageCities-card {
    height: fit-content;
    width: fit-content;

    margin: 0;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 12px;
    background-color: #173472;
}

.emailPasswordCard {
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #173472;
}

.mapCard {
    margin: 2rem auto;
    height: calc(100vh - 138px - 4rem);
    width: fit-content;
    padding: 0;
    overflow: hidden;
}