.headerStyle {
    position: fixed;
    top: 0;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8rem;
    background-color: #173472;

    padding: 1.8em;
    width: 100%;
    font-size: 1.15em;
}

.headerStyle img {
    width: 180px;
}

.headerStyle h1 {
    font-family: Rubik, serif;
}

